
compatible = "zmk,behavior-macro";

#define MACRO(NAME, LABEL, BINDINGS) \
  macro_##NAME { \
    label = <LABEL>; \
    bindings = <BINDINGS>; \
  };

MACRO(unstick, ZM_unstick, (&macro_tap &kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI))
MACRO(agave, ZM_agave, (&macro_tap &kp A &kp G &kp A &kp V &kp E &kp RET))
MACRO(sol, ZM_sol, (&macro_tap &kp S &kp O &kp L &kp RET))
MACRO(sui, ZM_sui, (&macro_tap &kp COLON &kp S &kp U &kp I))
MACRO(sus, ZM_sus, (&macro_tap &kp COLON &kp S &kp U &kp S))
MACRO(sua, ZM_sua, (&macro_tap &kp COLON &kp S &kp U &kp A))